*.elc
*.eln
*.so
.emacs.d/elpa/vterm*/build/*
.emacs.d/auto-save-list/
.emacs.d/backup/
.emacs.d/elpa/gnupg
.emacs.d/eln-cache/
.emacs.d/tramp
.emacs.d/elpa/archives/melpa/archive-contents
.emacs.d/elpa/archives/nongnu/archive-contents.signed
.emacs.d/elpa/archives/gnu/archive-contents.signed
.emacs.d/backup/
.emacs.d/url

.emacs.d/elpa/archives/gnu/archive-contents
.emacs.d/elpa/archives/nongnu/archive-contents

